.card-vet-info-container {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.cvi-vet-info-name {
  
}

.cvi-vet-image {
  height: 50px;
  width: 50px;
  background-color: gray;
}

.cvi-vet-info {
  display: flex;
  flex-direction: column;
}