.swipe-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swipe-card-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}