.swipe-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.swipe-card {
  width: 70%;
  position: absolute;
  top: 10vh;
  left: 15vw;
}

.card-sub-text {
  font-size: 18px;
}

.sub-swipe-card-container {
  height: 100%;
  width: 100%;
}

.card {
  width: 100%;
  height: 100%;
}

.swipe-card-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  position: relative;
  top: 290px;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoText {
  position: absolute;
  bottom: 60px;
}

.view-history-button {
  position: absolute;
  bottom: 20px;
}