.swipe-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.swipe-card {
  width: 100%;
}

.swipe-card-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}